* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr 13.7vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main-image main-image main-image main-image"
    "bottom-image-1 bottom-image-2 bottom-image-3 bottom-image-4";
  grid-gap: 2px;
  margin: 0 auto;
  height: calc(100vh - 50px);
}

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main-image;
  background: url(./assets/images/hero-image.jpg);
  background-size: cover;
  background-position: 50% 100%;
}

navbar {
  width: 60%;
  height: 35px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  align-items: center;
  top: 100px;
  left: 20%;
  background: linear-gradient(to top, #4f4f4f, #383838 40%, #8f8f8f);
  border-radius: 4px;
}

navbar > * {
  height: 100%;
  padding: 10px 20px;
  flex: 1;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

navbar > *:not(:last-child) {
  border-right: 1px solid rgb(98, 98, 98);
}

navbar > *:not(:last-child):hover {
  background: radial-gradient(#000000, #3f3f3f, #656565);
}

navbar svg {
  color: white;
  height: 22px;
  margin-top: -5px;
}

.main-image > * {
  color: white;
}

/* .sub-image img { 
  width: 100%;
  height: 250px;
}*/

.sub-image-iphone5s {
  grid-area: bottom-image-1;
  background: url(./assets/images/iphone5s-image.jpg);
}

.sub-image-iphone5c {
  grid-area: bottom-image-2;
  background: url(./assets/images/iphone5c-image.jpg);
}

.sub-image-happy-birthday {
  grid-area: bottom-image-3;
  background: url(./assets/images/happy-birthday-image.jpg);
}

.sub-image-supplier {
  grid-area: bottom-image-4;
  background: url(./assets/images/supplier-image.jpg);
}

.sub-image {
  background-size: contain;
}

footer {
    width: 60%;
    margin: 10px auto 20px auto;
    font-size: 10px;
    padding-top: 15px;
}

.site-links {
    float: right;
}

footer .site-links span {
    border-right: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.site-links .US-logo-image {
    width: 12px;
    height: auto;
    border-right: none;
}

.site-links .US-logo-container {
    border-right: none;
}

.shopping-links {
    margin-bottom: 10px;
}

.copyright-span {
    border-right: 1px solid black;
    padding-right: 5px;
}

.privacy-span {
    padding-left: 5px;
}

